<div class="modal-header modal_title header-color-modal">
  <div class="container header_modal">
    <div class="row">
      <div class="col-11">
        <strong>
          {{modal_titulo}}
        </strong>
      </div>
      <div class="col-1 div-close-header text-right">
        <a class="close-header" (click)="activeModal.dismiss()">
          <span>&times;</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isDelete">
  <form [formGroup]="cidadeForm" (ngSubmit)="salvar()">
    <div class="modal-body">
      <div class="page-content">
        <div class="row">
          <div class="col-sm-2 form-group">
            <label>Código IBGE</label>
            <input class="form-control"
              formControlName="codigoIBGE"
              type="text"
              placeholder="Ex: 50"
              autocomplete="off">
          </div>
          <div class="col-sm-10 form-group">
            <label>Nome</label>
            <input class="form-control"
              formControlName="nome"
              type="text"
              placeholder="Ex: Petrolina"
              autocomplete="off">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <label>Estado</label>
            <select class="form-control input-sm"  formControlName="idEstado">
              <option value="" disabled>Selecione uma estado</option>
              <option *ngFor="let estado of estados" [ngValue]="estado.id">{{estado.nome}}-{{estado.sigla}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger"
                (click)="activeModal.close('Close click')">
                Cancelar
        </button>
        <button class="btn btn-success"
                type="submit"
                [disabled]="!cidadeForm.valid" >
                Salvar
        </button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="isDelete">
  <form [formGroup]="cidadeForm" (ngSubmit)="deletar()">
    <div class="modal-body">
      <div class="page-content">
        <div class="row">
          <div class="col-sm-12 form-group text-center fs-15">
            <strong class="text-warning">
              <i class="fa fa-exclamation-triangle mr-15 "></i>
              Realmente deseja excluir o cidade!
            </strong>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger"
                (click)="activeModal.close('Close click')">
                Cancelar
        </button>
        <button class="btn btn-success"
                type="submit"
                [disabled]="!cidadeForm.valid" >
                Excluir
        </button>
      </div>
    </div>
  </form>
</div>
