<div id="sidebar-collapse">
  <div class="admin-block d-flex">
    <div>
      <img src="./assets/img/admin-avatar.png" width="45px" />
    </div>
    <div class="admin-info">
      <div class="font-strong">{{usuario.nome}}</div>
    </div>
  </div>
  <ul class="side-menu metismenu">
    <li *ngIf="hasPermissionMenu('ROLE_ESTAQUE')">
      <a data-toggle="collapse" href="#colapsed1" role="button" aria-expanded="false"
        aria-controls="colapsed1" (click)="animationArrow('1')">
        <i class="sidebar-item-icon fa fa-cubes"></i>
        <span class="nav-label">Estoque</span>
        <i class="icon1 fa fa-angle-left arrow"></i>
      </a>
      <div class="nav-2-level collapse" id="colapsed1">
        <ul>
          <li *ngIf="hasPermission('ROLE_PRODUTO_CONSULTAR')">
            <a routerLink="/app/produto">Produto</a>
          </li>
          <li *ngIf="hasPermission('ROLE_TIPO_EMBALAGEM_CONSULTAR')">
            <a routerLink="/app/tipo/embalagem">Tipo de embalagem</a>
          </li>
        </ul>
      </div>
    </li>
    <li *ngIf="hasPermissionMenu('ROLE_ENTIDADES')">
      <a data-toggle="collapse" href="#colapsed2" role="button" aria-expanded="false"
        aria-controls="colapsed2" (click)="animationArrow('2')">

        <i class="sidebar-item-icon fa fa-user"></i>
        <span class="nav-label">Entidades</span>
        <i class="icon2 fa fa-angle-left arrow"></i>
      </a>
      <div class="nav-2-level collapse" id="colapsed2">
        <ul>
          <li *ngIf="hasPermission('ROLE_USUARIO_CONSULTAR')">
            <a routerLink="/app/usuario">Usuário</a>
          </li>
          <li *ngIf="hasPermission('ROLE_FORNECEDOR_CONSULTAR')">
            <a routerLink="/app/fornecedor">Fornecedores</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#colapsed3" role="button" aria-expanded="false"
        aria-controls="colapsed3" (click)="animationArrow('3')">

        <i class="sidebar-item-icon fa fa-cog"></i>
        <span class="nav-label">Configuração</span>
        <i class="icon3 fa fa-angle-left arrow"></i>
      </a>
      <div class="nav-2-level collapse" id="colapsed3">
        <ul>
          <li>
            <a routerLink="/app/estado">Estado</a>
          </li>
          <li>
            <a routerLink="/app/cidade">Cidade</a>
          </li>
          <li>
            <a routerLink="/app/prioridade">Prioridade</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
