.modal_title{
  height: 50px;
}
.close-header{
  font-size: 30px;
}
.div-close-header{
  margin-top: -11px;
  padding-right: 0px;
}
.t-20{
  top: 20px;
}
.t-25{
  top: 25px !important;
}
.modal-overflow-y-none {
  overflow-y: none !important;
}

.mr-15{
  margin-left: 15px !important;
}

.fs-20{
  font-size: 20px !important;
}

.theme-config {
  top: 8px !important;
  top: 10px !important;
  z-index: 1010 !important;
}
.dropdown-user{
  margin-right: 40px !important;
}

.opacity{
  opacity: 10 !important;
}

.theme-config-fixed{
  position: fixed !important;
}

.white{
  color: white !important;
}

.gray{
  color:#cccccccc !important;
}

.mb-10{
  margin-bottom: 10px !important;
}

.h-50{
  height: 50px !important;
}
.card-body {
  padding: 10px !important;
}
.m-0 {
  margin: 5px !important;
}
.option{
  margin-top: -23px;
  font-size: 15px;
  color: #6c757d9c;
}
.mr-15{
  margin-right: 15px;
}
.mb-card-user{
  margin-bottom: -1px;
}
.card{
  border-radius: 0px !important;
}
.page-heading .page-title {
  font-size: 26px !important;
  margin: 12px 0 10px 0 !important;
}
.justify-content-end{
  padding: 13px !important;
}
.page-content {
  padding-top: 10px !important;
}

.absolut-alert{
  position: absolute;
  width: 100%;
  top: 3%;
}

.help-block {
  font-size: 10px !important;
  margin-top: 0px !important;
}
